# Python Virtual Environments
venv/
.venv/
backend/venv/
backend/.venv/

# Environment Variables
.env
backend/.env

# Python Cache
__pycache__/
*.pyc

# IDEs and Editors
.idea/

# Backend Databases
backend/*.sqlite3
backend/chroma_db/
backend/database.db